/DataModule/nbproject/private/
/BookWebApp/nbproject/private/
/DataModule/build/
/DataModule/dist/
/BookWebApp/dist/
/BookWebApp/build/
/DataLibrary/nbproject/private/
/DataLibrary/build/
/DataLibrary/dist/
/DataEJBModule/nbproject/private/
/EJBDataLibrary/nbproject/private/
/EJBDataLibrary/dist/
/DataEJBModule/build/
/EJBDataLibrary/build/
/DataEJBModule/dist/
/DataWebApp/nbproject/private/
/DataWebApp/dist/
/DataWebApp/build/
/DockerWebApp/nbproject/private/
/DockerWebApp/build/
/MessagingModule/nbproject/private/
/MessagingModule/dist/
/MessagingModule/build/
/MessageClientApp/nbproject/private/
/MessageClientApp/dist/
/MessageClientApp/build/
/SingletonWebApp/nbproject/private/
/SingletonWebApp/dist/
/SingletonWebApp/build/
/PublishingApp/nbproject/private/
/PublishingApp/build/
/PublishingApp/dist/
/soap/PublishingApp/dist/
/rs/PublishingApp/build/
/rs/PublishingApp/dist/
/rs/PublishingApp/nbproject/private/
/SampleServiceApp/nbproject/private/
/SampleServiceApp/build/
/SampleServiceApp/dist/
/SOAPClientApp/nbproject/private/
/SOAPClientApp/build/
/SOAPClientApp/dist/
/wsapp/PublishingApp/build/
/wsapp/PublishingApp/dist/
/wsapp/PublishingApp/nbproject/private/
/SampleRestApp/nbproject/private/
/SampleRestApp/build/
/SampleRestApp/dist/
/restapp/PublishingApp/build/
/restapp/PublishingApp/dist/
/restapp/PublishingApp/nbproject/private/
/SecurityApp/nbproject/private/
/SecurityApp/build/
/SecurityApp/dist/
