/DataModule/nbproject/private/
/BookWebApp/nbproject/private/
/DataModule/build/
/DataModule/dist/
/BookWebApp/dist/
/BookWebApp/build/
/DataLibrary/nbproject/private/
/DataLibrary/build/
/DataLibrary/dist/
/DataEJBModule/nbproject/private/
/EJBDataLibrary/nbproject/private/
/EJBDataLibrary/dist/
/DataEJBModule/build/
/EJBDataLibrary/build/
/DataEJBModule/dist/
/DataWebApp/nbproject/private/
/DataWebApp/dist/
/DataWebApp/build/
