/DataModule/nbproject/private/
/BookWebApp/nbproject/private/
/DataModule/build/
/DataModule/dist/
/BookWebApp/dist/
/BookWebApp/build/
/DataLibrary/nbproject/private/
/DataLibrary/build/
/DataLibrary/dist/
/DataEJBModule/nbproject/private/
/EJBDataLibrary/nbproject/private/
/EJBDataLibrary/dist/
/DataEJBModule/build/
/EJBDataLibrary/build/
/DataEJBModule/dist/
/DataWebApp/nbproject/private/
/DataWebApp/dist/
/DataWebApp/build/
/DockerWebApp/nbproject/private/
/DockerWebApp/build/
/MessagingModule/nbproject/private/
/MessagingModule/dist/
/MessagingModule/build/
/MessageClientApp/nbproject/private/
/MessageClientApp/dist/
/MessageClientApp/build/
/SingletonWebApp/nbproject/private/
/SingletonWebApp/dist/
/SingletonWebApp/build/
